.vscode/settings.json

*.o
*.0
*.dSYM
*.data
*.temp
*.tmp
*.text
__pycache__
/.worktrees/

*-test
/models
main
run*.sh
server
/dllama
/dllama-*
*.exe
*.spv
*.log
*.tsv
*.txt
*.sh
*.md
!README.md

# Model and tokenizer files
dllama_model_*.m
dllama_tokenizer_*.t
